@{
    ViewData["Title"] = "Home";
}

<div class="pt-2 container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3">

        <!-- Card Receita - Inicio -->
        <div class="col">
            <a href="#" class="text-decoration-none">
                <div class="card bg-dark border-white">
                    <img src="~/img/img1.jpg" class="card-img-top" alt="Nome" height="360"
                        style="object-fit: cover;" />
                    <div class="card-body ">
                        <h5 title="Açai com leite ninho e morango" class="card-title text-white mb-3">Açai com leite ninho e morango</h5>
                        <div class="d-flex justify-content-between">
                            <span class="text-white">Leite Ninho</span>
                            <span class="text-white">3 Complementos</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- Card Receita - Fim -->

        <!-- Card Receita - Inicio -->
        <div class="col">
            <a href="#" class="text-decoration-none">
                <div class="card bg-dark border-white">
                    <img src="~/img/img2.jpg" class="card-img-top" alt="Nome" height="360"
                        style="object-fit: cover;" />
                    <div class="card-body">
                        <h5 title="Açai com banana e granola" class="card-title text-white mb-3">Açai com banana e granola</h5>
                        <div class="d-flex justify-content-between">
                            <span class="text-white">Banana</span>
                            <span class="text-white">3 Complementos</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- Card Receita - Fim -->

        <!-- Card Receita - Inicio -->
        <div class="col">
            <a href="#" class="text-decoration-none">
                <div class="card bg-dark border-white">
                    <img src="~/img/img3.jpg" class="card-img-top" alt="Nome" height="360"
                        style="object-fit: cover;" />
                    <div class="card-body">
                        <h5 title="Açai de frutas vermelhas" class="card-title text-white mb-3">Açai de frutas vermelhas</h5>
                        <div class="d-flex justify-content-between">
                            <span class="text-white">Frutas vermelhas</span>
                            <span class="text-white">3 Complementos</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- Card Receita - Fim -->


        <div id="zeroData" class="col-lg-12 text-center" hidden>
            <h1 class="my-3 text-danger">Nenhuma Receita Encontrado</h1>
        </div>
    </div>

</div>